body{
    background-color: black;
}
.header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 200px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.navbar a{
    display: inline-block;
    padding: 50px 90px 80px 90px;
    font-size: 30px;
    color: rgb(59, 59, 59);
    transition: .3s;
    font-weight: 500;
    text-decoration: none;
    text-shadow: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0;
    animation: slideTop .5s ease forwards;
}
.navbar a:hover{
    color:rgba(255, 235, 205, 0.74);
}
.home{
    position: relative;
    width: 96%;
    justify-content: space-between;
    background: url('ssr.png') no-repeat;
    background-position: center; 
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 31px;  
}
.home-content{
    max-width: 650px;
    color: rgba(255, 235, 205, 0.747);
    padding-left: 60px;
}
.home-content h3{
    font-size: 32px;
    font-weight: 800;
    opacity: 0;
    animation: slideBottom 1.1s ease forwards;
    animation-delay: .6s;
}
.home-content h1{
    font-size: 50px;
    font-weight: 800;
    margin-top: 2px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .4s;
}
.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .9s;
}
.home-content h4{
    font-size: 20px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: .6s;
}
.home-content h3 span{
    color:rgb(167, 117, 81);
    text-shadow: cornsilk;
}
.home-sci a{
    color: blanchedalmond;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background:transparent;
    width:40px;
    height: 40px;
    border: 3px solid gray;
    text-decoration: none;
    border-radius: 50%;
    margin: 20px 15px 30px 0;
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .6s;
}
.home-sci a:hover{
    background:gray;
    color:rgb(8, 0, 8);
    box-shadow: 0 0 50px gray;
}
.about h1{
    color: rgb(167, 117, 81);
    padding: 20px 700px 40px 700px;
}
.about{
    color:rgba(255, 235, 205, 0.726);
    font-size: 1.7rem;
    padding-top: 30px;
    text-align: center;
}
.ts a{
    color: blanchedalmond;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background:transparent;
    width:50px;
    height: 50px;
    border: 6px solid rgb(37, 35, 35);
    text-decoration: none;
    border-radius: 50%;
    margin: 10px 20px 50px 40px;
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 10s ease forwards;
    animation-delay: 2s;
}
.btn a{
    padding:10px 40px 10px 40px;
}
.btn{
	color: rgb(12, 0, 0);
	background-color: rgb(167, 117, 81);
	border: 5px solid transparent;
	transition: .2s ease;
	border-radius: 50px;
    text-decoration: none;
    padding:10px 30px 10px 30px;
    text-align: center;
}

.btn:hover {
	color: rgb(233, 182, 145);
	background-color: rgb(36, 35, 35);
	transform: scale(1.1);
}

h1 {
  text-align:center;
  font-size: 40px;
  color: rgb(167, 117, 81);
  padding: 50px 0 10px 0;
}

ul {
  padding: 50px 0;
  color: blanchedalmond;
}

ul li {
  position:relative;
  list-style-type: none;
  width: 6px;
  background-color:rgb(167, 117, 81);
  margin: 0 auto;
  padding-top: 50px;
}

ul li::after {
  background: rgb(167, 117, 81);
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: 0;
  }


ul li div{
  position: relative;
  width: 400px;
  padding: 15px;
  border-radius: 5px;
  bottom: 0;
  background: rgb(54, 54, 54);
}

ul li:nth-child(odd) div {
  left: 45px;
}

ul li:nth-child(even) div {
  left: -445px;
}

time {
  font-weight: bold;
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}

ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

ul li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  ul li div {
    width: 250px;
  }
  ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}



@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

